@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Fraunces:opsz,wght@9..144,700&family=Lexend+Deca&family=Montserrat:wght@500;700&family=Red+Hat+Display:wght@500;700;900&display=swap');
@import url(reset.css);

:root {
    --back-plano: hsl(225, 100%, 98%);
    --sec: hsl(224, 23%, 55%);
    --pay-buttom: hsl(245, 75%, 52%);
    --pay-buttom-hover: hsl(245, 59%, 64%);
    --pri: hsl(223, 47%, 23%);
    --back: hsl(225, 100%, 94%);
}

body {
    height: 100vh;
    background-color: var(--back);
    font-size: 1em;
    font-family: 'Red hat display'; /* 500 700 900 */
}

main {
    height: 98vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    margin: 0 auto;
}

.imagem {
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
}

.principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 10% 15%;
    gap: 1.5em;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
    box-shadow: 0 1em 1em rgba(56, 41, 224, .1);
}

.principal__titulo {
    font-size: 1.5em;
    font-weight: 900;
    color: var(--pri);
}

.principal__texto {
    color: var(--sec);
    line-height: 1.5em;
    text-align: center;
}

.principal__plano {
    border-radius: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--back-plano);
    width: 100%;
    padding: 7.5% 5%;
    gap: 1em;
}

.principal__plano__anual {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.principal__plano__anual__titulo {
    font-weight: 900;
    color: var(--pri);
}

.principal__plano__anual__preco {
    color: var(--sec);
}

.principal__plano__change {
    padding-left: 20%;
    color: var(--pay-buttom);
    font-weight: 900;
}

.principal__plano__change:hover {
    text-decoration: none;
    color: var(--pay-buttom-hover);
}

.principal__proceed {
    text-decoration: none;
    color: white;
    width: 100%;
    text-align: center;
    border: 1px solid var(--pay-buttom);
    border-radius: .7em;
    background-color: var(--pay-buttom);
    padding: 5%;
    box-shadow: 0 1em 1em rgba(56, 41, 224, .2);
}

.principal__proceed:hover {
    background-color: var(--pay-buttom-hover);
    border-color: var(--pay-buttom-hover);
}

.principal__cancel {
    text-decoration: none;
    color: var(--sec);
    font-weight: 700;
}

.principal__cancel:hover {
    color: var(--pri);
    font-weight: 900;
}

footer {
    height: 2vh;
    text-align: center;
}

.footer__buttom {
    color: var(--pay-buttom);
}

.footer__buttom:hover {
    color: var(--pay-buttom-hover);
}

@media screen and (max-width : 1000px) {
    main {
        width: 90%;
    }

    .principal {
        padding: 10% 10%;
    }

    .principal__plano__change {
        padding-left: 10%;
        color: var(--pay-buttom);
        font-weight: 900;
    }
}




